<!DOCTYPE html>
<head>



</head>








<body>



</body>





<html>
HAPPY BIRTHDAY <%= @to.capitalize %>
You are <%= @age %> today!
Love from <%= @from.capitalize %> <br>


    <img src="http://media.tumblr.com/89ffded8a6d3f7dda2877002b09da2db/tumblr_inline_mqecd9VTNb1qz4rgp.gif"> 

</html>