<!DOCTYPE html>
<html>
    <head><link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
    </head>
    
        <body>
            <h1> Enter your friend's details below! </h1>
                <div class='container'>
                <form method="post" action='/'>
                    <label>Recipient Email Address</label><input type='text' name='input_text'>
                    <button type='submit' class='btn btn-success'>Submit</button>
                </form>
        </body>
</html>
    
