#first {background-color: #DC3D24;
        min-width:960px;}

#second {background-color: #232B2B}

#third {background-color: #CDFFFF}

#fourth {background-color: #E3AE57}

h1 {
    font-family: 'Fauna One', serif;
}

h2 {
    font-family: 'Fauna One', serif;
    color: #F0F8FF
}

h3 {
    font-family: 'Fauna One', serif;
}